<p id="notice"><%= notice %></p>

<h1>Events</h1>
<div class="card-group">
  <div class="card">
  <% @events.each do |event| %>
  <div class="card-body">
  <h5 class="card-title"><%= event.name %></h5>
    <p class="card-text"><%= event.description %></p>
    <div class="card-footer">
      <%= link_to 'Show', event, class: "card-link" %>
      <% if event.user == current_user%>
      <%= link_to 'Edit', edit_event_path(event), class: "card-link" %>
      <%= link_to 'Destroy', event,method: :delete, data: { confirm: "Are you sure"}, class: "card-link" %>
      <% end %>
    </div>
  </div>
  <% end %>
  </div>
</div>




