<p id="notice"><%= notice %></p>

<h1>Uploads</h1>

<div class="card-deck">
 <% @songs.each do |song|%>
  <div class="card">
  <% if song.image.attached? %>
    <%= image_tag song.image, class: "card-img-top" %> 
  <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= song.title %><h5>
    </div>
    <div class="card-footer">
      <%= link_to 'Show', song, class: "card-link" %>
      <% if song.user == current_user%>
      <%= link_to 'Edit', edit_song_path(song), class: "card-link" %>
      <%= link_to 'Destroy', song,method: :delete, data: { confirm: "Are you sure"}, class: "card-link" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>




