<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
     <%= image_tag @song.image, style: "width: 300px; display: block" %> 
</p>

<% if @song.audio.attached? %>
<audio controls>
<source src="<%= audio_url url_for(@song.audio) %>" type="audio/mpeg">
</audio>
<% end %>

<p>
    <small class="text-lg font-light">Comment</small>
</p>

   <%= form_with url: "/songs/#{@song.id}/comments", local: true,scope: "comment", html: { class: "mb-8 block w-full"} do |f| %>
   <%= f.text_area :body, id: "new-comment-body", rows: 2, placeholder: "Your messages...",
      class: "block border rounded w-full p-2" %>
   <%= f.submit "Comment", 
      class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded"%>
<% end %>

<div id="feed">
     <%= render partial: "songs/comment", collection: @song.comments %>
</div>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
